################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/Restauracja/Api/appsettings.json
/Backend/Restauracja/Api/appsettings.json
/Backend/Restauracja/Api/appsettings.json
